# Dist
OpenSource/RocketChat/notification/rocketchat-app/dist
OpenSource/RocketChat/notification/rocketchat-app/node_modules
# Project Reference Remove Later
OpenSource/RocketChat/notification/Rocket.Chat-8.7.0
OpenSource/Code-Server/code-server
OpenSource/Coder/coder
OpenSource/RocketChat/notification/Rocket.Chat-8.7.0
OpenSource/RocketChat/notification/rocketchat-compose-2.0.0